@tailwind utilities;

.sidebar {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.9)
  );
}

.avatar {
  border: 3px solid rgba(34, 197, 94, 0.2); /* example */
  box-shadow: 0 6px 20px rgba(16, 24, 40, 0.08);
}

.background-red {
  background-color: red;
}

.myTextarea {
  height: 30px; /* Fixed height */
  overflow-y: scroll; /* Enable vertical scroll when content exceeds height */
  resize: none; /* Prevent manual resizing by the user */
  padding: 10px; /* Optional padding for better appearance */
  border: 1px solid #ccc; /* Optional border for visual separation */
}
/* create.module.css */
.quill-editor {
  background: white;
  border-radius: 0.5rem;
}
