@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
html {
  overflow-x: hidden !important;
}

/* * {
  max-width: 100%;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.relogo {
  font-family: "Yesteryear", cursive;
  display: block;
  @apply ml-4;
}
nav .navtoggle {
  @apply flex p-2  text-black rounded-lg md:hidden;
}
nav .navlist {
  @apply font-medium flex flex-col p-4 md:p-0 -mt-1 border border-gray-100 shadow-md md:shadow-none rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-white sm:bg-leaf-50;
}
nav .navlink {
  @apply block py-2 px-3 text-gray-900  md:p-0;
}
nav .navlink:hover,
nav .navlink.active {
  @apply text-leaf-700;
}

button {
  @apply font-medium rounded-xl text-sm py-4 px-12 me-2 mb-2 focus:outline-none focus:ring-4;
}
button.mini {
  margin-bottom: 0 !important;
}
button.primary {
  @apply text-white bg-leaf-600 hover:bg-leaf-700 focus:ring-leaf-300;
}
button.secondary {
  @apply text-gray-900  bg-white  border border-gray-300 hover:bg-gray-100 hover:text-leaf-600 focus:z-10 focus:ring-gray-100;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

details > summary::after {
  content: "\ea50";
  font-size: 30px;
  font-family: "boxicons";
  transition: transform 0.2s ease-in-out;
}

details[open] > summary::after {
  /* content: "\ea4a"; */
  transform: rotate(90deg);
  transition: 0.125s ease-in-out;
}
@layer components {
  details[open],
  details[open] summary p {
    /* background-color: ; */
    @apply bg-leaf-950 text-white;
  }
}

details[open] summary ~ * {
  animation: sweep 0.2s ease-in-out;
}

.ads .circle {
  animation: spin 10s ease-in-out infinite;
}

.job {
  @apply w-3/5 sm:w-2/3 md:w-3/4 h-16 bg-white shadow-lg rounded-xl flex flex-row items-center justify-start gap-3 py-2 px-4 border border-leaf-700;
}

.job-icon {
  @apply text-3xl text-leaf-800;
}

.job-title {
  @apply text-sm sm:text-lg font-semibold;
}

.jumbo .background,
.jumbo img {
  /* width: calc(100% - 1.5rem); */
  @apply w-11/12 sm:w-[87%] md:w-[90%] lg:w-[93%] mx-auto;
}

.login-page {
  background-image: url("../img/background/mesh.png") !important;
  background-repeat: round;
}

footer h2 {
  @apply font-bold;
}
footer li {
  @apply font-light;
}

.donation .card {
  @apply bg-gray-50 shadow-xl rounded-xl overflow-hidden p-4 hover:!transform hover:scale-105 cursor-pointer;
}
.donation .card img {
  @apply w-full h-56 md:h-48 object-cover rounded-lg shadow-lg;
}
.donation .card h3 {
  @apply text-leaf-800 font-medium;
}
.donation .card .title {
  @apply text-lg font-semibold text-gray-900 w-4/5;
}
.donation .card .target {
  @apply text-gray-700 mt-4 font-medium;
}
.donation .card .target span {
  @apply text-xs ml-2 font-normal;
}
.donation .card .progress {
  @apply w-full bg-leaf-300 rounded-full h-2.5 mt-2;
}
.donation .card .progress .full {
  @apply bg-leaf-500 h-2.5 rounded-full;
}
.donation .card .deadline {
  @apply text-gray-500 text-sm mt-2;
}

.feature-card {
  @apply bg-white shadow-xl border border-gray-200 rounded-xl p-6 flex flex-col justify-between w-full md:w-1/3 lg:min-h-72 hover:!transform hover:scale-105;
}

.feature-header {
  @apply flex flex-col items-start gap-3;
}

.feature-badge {
  @apply bg-leaf-900 text-white font-semibold px-4 py-2 rounded-full text-xs;
}

.feature-icon {
  @apply bg-leaf-900 text-white w-16 h-16 flex items-center justify-center rounded-xl text-4xl;
}

.feature-content {
  @apply mt-6;
}

.feature-title {
  @apply text-xl font-semibold mb-3;
}

.feature-text {
  @apply text-sm text-gray-600 font-light;
}

.team-card {
  @apply bg-white rounded-xl p-4 shadow-xl w-full md:w-[30%] lg:w-[27%];
}

.team-image-wrapper {
  @apply relative;
}

.team-image {
  @apply w-full h-80 mx-auto rounded-lg object-cover;
}

.team-social-icon {
  @apply absolute bottom-1 right-1 bg-white text-black w-10 h-10 flex justify-center items-center rounded-full text-2xl;
}

.team-name {
  @apply text-lg font-semibold mt-4;
}

.team-role {
  @apply text-gray-500 text-sm;
}

/* Separator */
.separator {
  @apply border-8 border-leaf-950 rounded-full block sm:hidden lg:block w-12 h-8 md:w-8 md:h-12;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-bottom: 5px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*   font-family: "Open Sans", sans-serif; */
