/* :root {
  --leaf-50: #f2fdf3;
  --leaf-70: #edfcef;
  --leaf-100: #e4fce7;
  --leaf-200: #bdf5c6;
  --leaf-300: #89ec9a;
  --leaf-400: #4eda67;
  --leaf-500: #27c042;
  --leaf-600: #18922e;
  --leaf-700: #187d2b;
  --leaf-800: #186327;
  --leaf-900: #165122;
  --leaf-950: #062d0f;
  --leaf-975: #010a02;
}

.bg-leaf-50 {
  background-color: var(--leaf-50);
}
.bg-leaf-70 {
  background-color: var(--leaf-70);
}
.bg-leaf-100 {
  background-color: var(--leaf-100);
}
.bg-leaf-200 {
  background-color: var(--leaf-200);
}
.bg-leaf-300 {
  background-color: var(--leaf-300);
}
.bg-leaf-400 {
  background-color: var(--leaf-400);
}
.bg-leaf-500 {
  background-color: var(--leaf-500);
}
.bg-leaf-600 {
  background-color: var(--leaf-600);
}
.bg-leaf-700 {
  background-color: var(--leaf-700);
}
.bg-leaf-800 {
  background-color: var(--leaf-800);
}
.bg-leaf-900 {
  background-color: var(--leaf-900);
}
.bg-leaf-950 {
  background-color: var(--leaf-950);
}
.bg-leaf-975 {
  background-color: var(--leaf-975);
}

.text-leaf-50 {
  color: var(--leaf-50);
}
.text-leaf-100 {
  color: var(--leaf-100);
}
.text-leaf-200 {
  color: var(--leaf-200);
}
.text-leaf-300 {
  color: var(--leaf-300);
}
.text-leaf-400 {
  color: var(--leaf-400);
}
.text-leaf-500 {
  color: var(--leaf-500);
}
.text-leaf-600 {
  color: var(--leaf-600);
}
.text-leaf-700 {
  color: var(--leaf-700);
}
.text-leaf-800 {
  color: var(--leaf-800);
}
.text-leaf-900 {
  color: var(--leaf-900);
}
.text-leaf-950 {
  color: var(--leaf-950);
} */
